In [ ]:
from utils import send_query, send_large_query

query_result = send_large_query('''
    SELECT path, aligned_ID FROM aligned
''', verbose=False)

In [ ]:
with open('aligned', 'w') as f:
    for q in query_result:
        f.write('%s\t%s\n'%(q['aligned_ID'], q['path']))

In [ ]:
query_params = {
    'name':'Kóta Fülöp',
    'minusoffset': 2000,
    'plusoffset': 2000,
}
SQL_QUERY = 'SELECT path, name FROM photo JOIN (SELECT name, timestamp-{minusoffset} as start, timestamp+{plusoffset} as end FROM Mandacsko_log WHERE name = "{name}" AND gate = "Forgóvilla jobb (kintről) BE") ON photo.timestamp BETWEEN start AND end;'
SQL_QUERY = SQL_QUERY.format(**query_params)

query_result = send_query(SQL_QUERY)

In [ ]:
from IPython.display import Image

query_result = send_query(SQL_QUERY)
num_of_query = 10
print('Query length: ', len(query_result))
#if len(query_result) > num_of_query:
for records in query_result:#[::len(query_result)//num_of_query]:
    print(records['path'])
    img = Image(records['path'])
    display(img)

In [ ]:
for q in send_query('SELECT timestamp-1.0 as start, timestamp+1.0 as end FROM Mandacsko_log WHERE name = "Hakkel Tamás"'):
    print(datetime.fromtimestamp(float(q['start'])/1000).strftime('%m/%d/%Y %H:%M:%S'))

In [ ]:
len(send_query('SELECT path FROM photo JOIN (SELECT timestamp-3000 as start, timestamp+3000 as end FROM registration_log) ON photo.timestamp BETWEEN start AND end;'))

In [ ]:
names = send_query('SELECT DISTINCT name FROM Mandacsko_log')

In [ ]:
query_params = {
    'minusoffset': 2000,
    'plusoffset': 2000,
    
}
SQL_QUERY = '''
        SELECT name, timestamp-{minusoffset} as start, timestamp+{plusoffset} as end 
        FROM Mandacsko_log WHERE gate = "Forgóvilla jobb (kintről) BE"
'''
SQL_QUERY = SQL_QUERY.format(**query_params)

query_result = send_query(SQL_QUERY)

In [ ]:
torch.permut

In [ ]:
query_params = {
    'minusoffset': 2000,
    'plusoffset': 2000,
}

SQL_QUERY = '''
    SELECT path, name FROM aligned JOIN (
        SELECT name, timestamp-{minusoffset} as start, timestamp+{plusoffset} as end 
        FROM Mandacsko_log WHERE gate = "Forgóvilla jobb (kintről) BE" AND name = "Hakkel Tamás") 
    ON aligned.timestamp BETWEEN start AND end;
'''
SQL_QUERY = SQL_QUERY.format(**query_params)

query_result = send_query(SQL_QUERY)

In [ ]:
query_result

In [ ]:
name_paths_database = {}
for q in query_result:
    if q['path'].find('stable') == -1 and q['path'].find('5th') == -1:
        continue
    if name_paths_database.get(q['name']) is None:
        name_paths_database[q['name']] = [q['path']]
    else:
        name_paths_database[q['name']].append(q['path'])

In [ ]:
with open('name_photoPaths_database.csv', 'w') as f:
    for k, v in name_paths_database.items():
        for i in v:
            f.write('%s\t%s\n'%(k, i))

In [ ]:
with open('extract_photoPaths_database.csv', 'w') as f:
    for k, v in name_paths_database.items():
        for i in v:
            f.write('%s\n'%(i))

In [ ]:
print(len(name_paths_database))
len(name_paths_database['Hakkel Tamás'])

In [ ]:
import PIL.Image as Image

In [ ]:
query_result[:3]

In [ ]:
import os
def addmarkerToPath(path, marker_tag='extracted'):
    img_name = os.path.basename(path)
    target_path = os.path.join(os.path.dirname(path), marker_tag, img_name)
    return target_path

In [ ]:
with open('name_thumbPaths_database.csv', 'w') as f:
    for q in query_result:
        name = q['name']
        path = q['path']
        f.write('%s\t%s\n'%(name, path))

        
train_ratio = 0.8
with open('name_thumbPaths_train.csv', 'w') as f:
    for q in query_result[:int(len(query_result) * train_ratio)]:
        name = q['name']
        path = q['path']
        f.write('%s\t%s\n'%(name, path))

        
with open('name_thumbPaths_test.csv', 'w') as f:
    for q in query_result[int(len(query_result) * train_ratio):]:
        name = q['name']
        path = q['path']
        f.write('%s\t%s\n'%(name, path))

In [ ]:
52000 / 50

In [ ]:
from IPython.display import Image

query_params = {
    'name':'Koncz Soma',
    'minusoffset': 2000,
    'plusoffset': 2000,
}
SQL_QUERY = 'SELECT path, name FROM thumbnail JOIN (SELECT name, timestamp-{minusoffset} as start, timestamp+{plusoffset} as end FROM Mandacsko_log WHERE name = "{name}" AND gate = "Forgóvilla jobb (kintről) BE") ON thumbnail.timestamp BETWEEN start AND end;'
SQL_QUERY = SQL_QUERY.format(**query_params)

query_result = send_query(SQL_QUERY)

In [ ]:

numshow = 37
print('Query length: ', len(query_result))
for records in query_result:#[::len(query_result)//numshow]:
    print(records['name'], records['path'])
    img = Image.open(records['path'])
    display(img)